# === Archivos grandes que NO se suben ===
7mo/Aprendizaje_automatico/proyecto/proyecto/proyecto.zip
7mo/Aprendizaje_automatico/proyecto/proyecto/datos_modelado_empresas_v3.csv
7mo/Aprendizaje_automatico/proyecto/proyecto/datos_modelado_empresas.csv
